.widlg {
    flex: 3;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;

  }
  
  .widlgtitle {
    font-size: 22px;
    font-weight: 600;
  }
  
  .widlgtable{
    width: 120%;
    border-spacing: 20px;
  }
  
  .widlgth{
    text-align: left;
  }
  
  .widlguser{
    display: flex;
    align-items: center;
    font-weight: 600;
  }
  
  .widlgimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .widlgdate,.widlgamount{
    font-weight: 300;
  }
