.container12 {

    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    flex: 7;
  }
  
  .warning-text,
  .instruction-text {
    font-size: 16px;
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .sub-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .submit-btn,
  .cancel-btn,
  .edit-btn,
  .delete-btn {
    padding: 5px 10px;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .submit-btn,
  .edit-btn {
    background-color: #007bff;
    color: white;
    border: none;
  }
  
  .cancel-btn,
  .delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
  }
  
  .product-list {
    list-style: none;
    padding-left: 0;
  }
  
  .product-item {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .edit-btn,
  .delete-btn {
    margin-left: 10px;
  }
  