
.forgotform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  flex: 7;
}

.card1 {
  margin-top: -200px;
  width: 400px;
  height: 300px;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;

}

.card-title1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.card-body1 > div {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}


.form-group1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='email'] {
  display: block;
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 1;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #007bff;
  font-size: 16px;
  line-height: 1}
  .btn:hover {
      background-color: #0069d9;
    }
    
    .btn:active {
      background-color: #005cbf;
    }
    
    .alert {
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    
    .alert-danger {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }
    
    .alert-success {
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
    }
    
    .hm {
      margin-top: 20px;
    }
    
    .senter {
      text-align: center;
    }
    